@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS Scrollbar */
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.2);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

html *::-moz-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-moz-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.2);
}

html *::-moz-scrollbar-track:hover {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

/* How TO - Hide Arrows From Input Number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

code{
    white-space: initial;
}